body {
    background-color: #36454f;
    color: #f0f8ff;
}

.hide {
    opacity: 0.2;
    transition: opacity .5s ease-in-out;
}

#main-button {
    width: 45px;
    height: 45px;
}

#main-button:hover {
    cursor: pointer;
}

#feeb {
    max-height: 100%;
    max-width: 100%;
}

.header-titles {
    padding: 10px 0 25px 0;
}

.timeline-dot {
    background-color: #f0f8ff;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    right: -15%;
    top: 25%;
    display: none;
}

.left-card {
    left: 0;
    max-width: 70%;
}

.right-card {
    left: 30%;
    max-width: 70%;
}

.right-card .timeline-dot{
    left: -15%;
}

.left-card .card-image {
    width: 100px;
    height: 50px;
}

.right-card .card-image {
    width: 100px;
    height: 80px;
}

li {
    margin-bottom: 8px;
}